<!DOCTYPE html>
{% load static %}
<main class="home_card_main">
    <section class="container">
        <div class="flex j_between">
            <div class="home_card">
                <div class="home_card_banner">
                    <img src="{% static 'images/banner/home_card1.png' %}" alt="">
                </div>
                <div class="text">
                    <h4>Everyday Fresh & Clean with Our Products</h4>
                    <button class="btn btn_primary">Shop Now</button>
                </div>
            </div>
            <div class="home_card">
                <div class="home_card_banner">
                    <img src="{% static 'images/banner/home_card2.png' %}" alt="">
                </div>
                <div class="text">
                    <h4>Make your Breakfast Healthy and Easy</h4>
                    <button class="btn btn_primary">Shop Now</button>
                </div>
            </div>
            <div class="home_card">
                <div class="home_card_banner">
                    <img src="{% static 'images/banner/home_card3.png' %}" alt="">
                </div>
                <div class="text">
                    <h4>The best Organic Products Online</h4>
                    <button class="btn btn_primary">Shop Now</button>
                </div>
            </div>
        </div>
    </section>
</main>