<!DOCTYPE html>
<main>
    <section>
        <!-- slider -->
        <div>
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="2000">
                    <div class="banner" style="--bgh: url('images/banner/home_banner1.png')" >
                        <div class="p-5 col-lg-5 col-md-8 col-12">
                            <h1 class="title_h1">Fresh Vegetables Big discount</h1>
                            <p>Save up to 50% off on your first order</p>
                            <form class="mt-5" action="">
                                <input class="" type="email" required name="" id="">
                                <input type="submit" value="Subscribe">
                            </form>
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <div class="banner"style="--bgh: url('images/banner/home_banner2.png')">
                        <div class="p-5 col-lg-5 col-md-8 col-12">
                            <h1 class="title_h1">Fresh Vegetables Big discount</h1>
                            <p>Save up to 50% off on your first order</p>
                            <form class="mt-5" action="">
                                <input type="email" required name="" id="">
                                <input type="submit" value="Subscribe">
                            </form>
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="banner"style="--bgh: url('images/banner/home_banner3.png')">
                      <div class="p-5 col-lg-5 col-md-8 col-12">
                          <h1 class="title_h1">Fresh Vegetables Big discount</h1>
                          <p>Save up to 50% off on your first order</p>
                          <form class="mt-5" action="">
                              <input type="email" required name="" id="">
                              <input type="submit" value="Subscribe">
                          </form>
                      </div>
                  </div>
                  </div>
                </div>
              </div>
        </div>
    </section>
</main>