{% extends "base.html" %}


{% block body %}
{% include "common/navbar.html" %}
<section>
    <div class="row my-5">
        <div class="col-lg-4 col-md-6 col-12 m-auto">
            <div class="card p-4">
                <h5 class="my-3">Sign in</h5>
                <!-- massage -->
                {% if messages %}
                <ul class=" messages">
                    {% for message in messages %}
                    <li class="border {{ message.tags }} text-light sm p-2 rounded">{{ message }}</li>
                    
                    {% endfor %}
                </ul>
                {% endif %}
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <input class="form-control" type="text" name="username" placeholder="Username"><br>
                    <input class="form-control" type="password" name="password" id="" placeholder="Password"><br>
                    <button class="btn btn-success my-3" type="submit">Login</button>
                </form>
                <p class="sm">Have't any account? <a href="{% url 'register' %}">register</a></p>
            </div>
        </div>
    </div>
    <!-- MODAL  -->
    {% include 'common/modal.html' %}
    <script>
        // Show modal on login success
        const isAuthenticated = {{ user.is_authenticated|yesno:"true,false" }};
        console.log(isAuthenticated)
        if (isAuthenticated) {
          const modal = new bootstrap.Modal(document.getElementById('successModal'));
          const modal_massage = document.getElementById('modal_massage')
          modal_massage.innerHTML = `
          <h5>Wellcome Back</h5>
          <p class="text-success">Login Successfull</p>
          `
          modal.show();
    
          // Redirect after a delay
          setTimeout(() => {
            window.location.href = "{% url 'user_profile' %}"; // Replace 'redirect_url_name' with the target URL
          }, 2000);
        }
      </script>
</section>
{% endblock body %}
    