<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block body %}
  <main>
    <section class="container">
        <div class="row">
            <div class="col-9">
                <div class="align-items-center row row-cols-lg-2 row-cols-sm-1">
                    <div class="border rounded p-3">
                        <img class="img-fluid w-100" src="{{product.photo.url}}" alt="">
                    </div>
                    <div>
                        <div class="info p-2">
                            <a href="" class="btn btn-sm btn-outline-info">{{product.status}}</a>
                            <h2 class="m-0 my-2 fw-bold">{{product.name}}</h2>
                            <div>⭐ <span class="ms-5">({{product.rating}})</span></div>
                            <div class="my-3 d-flex align-items-center">
                                <h1 class="fw-bold text-success">${{product.current_price}}/{{product.unit}}</h1>
                                <div class="ms-3">
                                    {% if product.discount > 0 %}
                                      <h6 class="m-0 p-0 text-warning">{{product.discount}} % off</h6>
                                      <h3 class="m-0 p-0 text-muted"><del>${{product.price}}</del></h3>
                                    {% endif %}
                                </div>
                            </div>
                            <p>{{product.description|slice:100}}</p>
                            <div class="product_detail_action d-flex align-items-center">
                                <form class="d-flex align-items-center" action="">
                                    <input class="me-2" type="number" value="1" name="" id="">
                                    <button class="btn btn-success" type="submit">Add to cart</button>
                                </form>
                                <a class="mx-2 btn btn-outline-success">
                                    <img width="20" src="{% static 'images/icon/wishlist.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                {% include "./filtering_bar.html" %}
            </div>
        </div>
    </section>
  </main>
{% endblock body %}