<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block header  %}
   {% include 'common/navbar.html' %}
{% endblock header  %}
   
{% block body %}
   <div class="container py-2">
      <h2 class="fw-bold">Your Wishlist</h2>
      {% if wishlist_items %}
      <p class="sm">There are {{wishlist_items|length}} products in this list</p>
      {% else %}
      <p class="sm">Your wishlist is empty</p>
      {% endif %}
   </div>
{% endblock body %}


{% block script %}
   <script src="{% static 'js/wishlist.js' %}"></script>
{% endblock script %}
   
    