<!DOCTYPE html>
{% load static %}
<div class="sidebar">
    <div class="h-100 p-3">
        <a class="side_bar_menu_items" href="">
            <img class="img-fluid" src="{% static 'images/icon/home.png' %}" alt="">
            <h6 class="me-5">Home</h6>
        </a>
        <a class="side_bar_menu_items" href="">
            <img class="img-fluid" src="{% static 'images/icon/user.png' %}" alt="">
            <h6 class="">Profile</h6>
        </a>
        <a class="side_bar_menu_items" href="">
            <img class="img-fluid" src="{% static 'images/icon/cart1.png' %}" alt="">
            <h6 class="me-5">My orders</h6>
        </a>
        <a class="side_bar_menu_items" href="">
            <img class="img-fluid" src="{% static 'images/icon/edit.png' %}" alt="">
            
            <h6 class="me-5">Edit Profile</h6>
        </a>
    </div>
</div>