<!DOCTYPE html>
{% load static %}
<footer class="mt-5">
    <div class="">
        <hr>
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 text-center   ">
            <div class="col-3 m-auto">
                <p>Copyright &copy; All right reserved</p>
            </div>
            <div class="col-6 m-auto">
                <img  src="{% static 'images/logo.png' %}" alt="" class="img-fluid m-auto">
            </div>
            <div class="col-3 m-auto">
                <p class="sm">Address: Dakshin Surma, Sylhet, 3100, Bangladesh</p>
            </div>
        </div>
    </div>
</footer>

