<!DOCTYPE html>
<section>
    <div class="modal fade bd-example-modal-sm" id="successModal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div style="min-height: 200px;" class="modal-content d-flex align-items-center justify-content-center">
                <div id="modal_massage"></div>
            </div>
        </div>
    </div>

    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script> -->
</section>