<!DOCTYPE html>
{% load static %}
<section class="sticky sticky-top pb-5">
  <nav class="navbar  navbar-expand-lg">
    <div class="container p-0">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">=</span>
      </button>
      <a class="navbar-brand" href="#">
        <img style="--w:120px" class="w" src="{% static '/images/logo.png' %}" alt="">
      </a>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav m-auto">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
          <a class="nav-link" href="{% url 'products' %}">Products</a>
          <a class="nav-link" href="{% url 'seller' %}">Seller</a>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categories
            </a>
            <ul class="dropdown-menu">
              {% for i in category %}
                <li><a class="dropdown-item" href="{% url 'product_filter' i.id %}">{{i.name}}</a></li>
              {% endfor %}
              
            </ul>
          </li>
        </div>
      </div>
      <!-- RIGHT_SIDE_NAVBAR -->
      <div>
        {% if user.is_authenticated %}
        <div class="d-inline-flex align-items-center">
          <a class="nav_bge">
            <img src="{% static '/images/icon/cart.png' %}" alt="">
            <span>2</span>
          </a>
          <a class="nav_bge" href="{% url 'wishlist' %}">
            <img src="{% static '/images/icon/wishlist.png' %}" alt="">
            <span>99+</span>
          </a>
          <div class="dropdown">
            <button class="btn user_bge border border-success rounded-circle dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              
                {% if user.photo %}
                  <img class=" rounded-circle" src="{{ user.photo.url }}" alt="">
                  {% else %}
                    <h5 class="m-0 text-center rounded-circle">{{user.username|slice:":2"}}</h4>
                {% endif %}
            </button>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-end">
              <li><a class="sm dropdown-item fw-bold" >{{user.username}} <br>
                {{user.email}}
              </a></li>
              <li><a class="dropdown-item" href="{% url 'user_profile' %}">Profile</a></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
            </ul>
          </div>
        </div>
        {% else %}
        <a href="{% url 'register' %}" class="btn btn-success">Login</a>
        {% endif %}
      </div>
    </div>
    
  </nav>
</section>
