<!DOCTYPE html>
{% load static %}
<section class="container-fluid">
    <div class="">
        <nav class="navbar sticky-top navbar-expand-lg navbar-light ">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
              <a style="--w:120px" class="navbar-brand w m-auto" href="{% url 'home' %}">
                <img class="img-fluid" src="{% static "/images/logo.png" %}" alt="">
              </a>
              
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav m-auto  ">
                  <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                  <a class="nav-link" href="{% url 'products' %}">Products</a>
                  
                  <a class="nav-link" href="#">Blog</a>
                  <a class="nav-link" href="#">About</a>
                </div>
              </div>
              <div class="ms-auto">
                <a class="nav_bge" href="">
                    <img class="img-fluid" src="{% static "/images/icon/cart.png" %}" alt="">
                    <span>4</span>
                </a>
                <a class="nav_bge" href="">
                    <img src="{% static "/images/icon/wishlist.png" %}" alt="">
                    <span>4</span>
                </a>
              </div>
            </div>
          </nav>
    </div>
</section>