.w{
    width: var(--w);
    height: auto;
}
.nav_bge{
    margin-left: 10px;
    position: relative;
}
.nav_bge span{
    width: 20px;
    height: 20px;
    background-color: #198754;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 12px;
    translate: 10px -10px;
}
.title_h1{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.sm{
    font-size: 12px;
}