.w{
    width: var(--w);
    height: auto;
}
.nav_bge{
    margin-left: 10px;
    position: relative;
    width: 24px;
    height: 24px;
}
.nav_bge img{
    width: 22px;
}
.nav_bge span{
    width: 18px;
    height: 18px;
    background-color: #198754;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 12px;
    translate: 10px -10px;
}
.user_bge{
    text-align: center;
    font-weight: bold;
    width: 30px;
    height: 30px;
    margin-inline-start: 10px;
    padding: 2px;
}
.title_h1{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.sm{
    font-size: 12px;
}
.success{
    background: green;
}
.error{
    background: red;
}