.navbar{
    /* background-color: #fff; */
    backdrop-filter: blur(10px);
}
.nav-link{
    color: #999 !important;
}
.nav-link:focus{
    color: green !important;
}
.mobile_nav{
    background: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 100000;
    box-shadow: 0px 0px 5px #dfd6d6;
    display: none;
}
.mobile_nav nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_img{
    width: 20px;
}
@media (max-width: 768px) {
    .mobile_nav{
        display: block;
    }
}