.banner{
    background: var(--bgh);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.home_card{
    position: relative;
}
.home_card img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -11;
}
.home_card .text h5{
    width: 60%;
    height: 80px;
}
.category_wrapper{
    padding: 10px;
    display: flex;
    width: 100%;
    overflow-x: scroll;
    scrollbar-width: thin;
    scroll-snap-type: x proximity;
}
.category_wrapper .category_card {
    margin: 0 5px;
    border-radius: 8px;
    text-align: center;
    width: 80px;
    box-sizing: border-box;
    scroll-snap-align: center;
    flex-shrink: 0;
    border: 1px solid silver;
}
.category_card img{
    padding: 20px;
}

.product_detail_action input{
    border: 1px solid green;
    outline: none;
    width: 50px;
    padding: 5px 2px;
    text-align: center;
    border-radius: 5px;
}
.list_style h6 span{
    width: 80px;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
}

/* seller card */
.seller_card{
    text-align: center;
}
.seller_card .cover_logo{
    height: 100px;
    padding: 10px;
    border-radius: 4px 4px 0 0;
    display: flex;
    align-items: center;
}
.seller_card .user_info{
    
    transform: translateY(-30px);
}
.seller_card .user_logo{
    margin: auto;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;

}
.seller_card .user_logo h6{
    font-size: 30px;
}