.header-bg {
    background: url('images/banner/header_banner2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    margin: 16px 0;
}

.header_banner {
    padding: 5rem 0;
}

.banner_text {
    width: 350px;
}

.banner_text h1 {}

.home_card_main {
    margin: 50px 0;
}

.home_card {
    position: relative;
    height: auto;
    width: 350px;
}

.home_card .home_card_banner {
    position: absolute;
    z-index: -111;
}

.home_card .home_card_banner img {
    width: 100%;
}

.home_card .text {
    padding: 40px 0px 0px 40px
}

.home_card .text h4 {
    width: 60%;
    height: 100px;
}

.product_container {
    display: flex;
}

.product_row {
    padding: 10px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin: auto;
}

.product_card {
    border: 1px solid #ccc;
    margin: auto;
    padding: 8px;
    border-radius: 8px;
    position: relative
}
.product_card .img_box{
    background: #ececff77;
    height: 180px;
    margin: auto;
    padding: 5px;
    border-radius: 8px;
}
.product_card .img_box img{
    width: 100%;
    margin: auto;
}
.product_card .info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 12px 8px;
    height: 120px;
}
.product_filtering {
    min-width: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
}
.filter_title{
    padding: 8px 0px;
    font-size: 14px;
    color: #333;
}
.category_filter{
    color: gray;
}
.count{
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 8px;
    width: 100%;
}
.count select{
    border: 1px solid #ccc;
    padding: 8px 10px;
    outline: none;
    border-radius: 8px;
}