.banner{
    background: var(--bgh);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
}
.home_card{
    position: relative;
    margin: auto;
}
.home_card img{
    position: absolute;
    z-index: -11;
    padding: 5px;
}
.home_card .text{
    padding: 40px 25px;
    width: 70%;
}
.home_card .text h5{
    font-weight: 700;
    height: 100px;
}
.category_wrapper{
    padding: 10px;
    display: flex;
    width: 100%;
    overflow-x: scroll;
    scrollbar-width: thin;
    scroll-snap-type: x proximity;
}
.category_wrapper .category_card {
    margin: 0 5px;
    border-radius: 8px;
    text-align: center;
    width: 80px;
    box-sizing: border-box;
    scroll-snap-align: center;
    flex-shrink: 0;
    border: 1px solid silver;
}
.category_card img{
    padding: 20px;
}