<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'utilities.css' %}">
    <link rel="stylesheet" href="{% static 'common.css' %}">
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Nestmart</title>
</head>

<body>
    <header>
        
        {% block header %}
        {% endblock header %}
    </header>
    <main>
        {% block body %}
        {% endblock body %}
    </main>
    <br><br><br><br><br>
    <footer>
        {% block footer %}

        {% endblock footer %}
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function go_back(){
            window.history.back()
        }
    </script>
    
    {% block script %}
        
    {% endblock script %}
        
</body>

</html>